.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    gap:10rem;
    padding: 1rem;
    justify-content: space-around;
}

.messageList{
    max-height: 10px;
}