.UserCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    justify-content: space-between;
}


.UserCard img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: top;
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.spacer{
    flex: 1;
}